header {
    text-align: center;
    min-height: 10rem;
    margin-top: 5rem;
    color: $font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-weight: 300;
        font-size: 2.7rem;
        text-shadow: 0 1px 1px rgba(black, 0.05);
        margin: 0;
        padding: 0;
    }
    h2 {
        font-weight: 300;
        font-size: 0.82rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0.25rem 0 0;
        padding: 0;
    }
    .hello {
        max-width: 75%;
        margin: 3rem auto 8rem;
        background-color: rgba(white, 0.2);
        display: flex;
        align-items: center;
        padding: 1rem;
        box-shadow: 0 1px 1px 1px rgba(black, 0.145), 0 4px 10px -2px rgba(black, 0.05);
        @include phone {
            max-width: 90%;
        }
        img {
            height: 6rem;
            border-radius: 100%;
        }
        p {
            padding-left: 2rem;
            font-weight: 300;
            line-height: 1.4rem;
            text-align: left;
            @include phone {
                padding-left: 1rem;
                line-height: 1.2rem;
            }
        }
    }
}
