$link-color: #4760FF;

nav {
    @include phone {
        display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    ul[role="navigation"] {
        @include horizontal-list(2rem);
        font-size: 0.9rem;
        padding-left: 2rem;
    }

    ul[role="complementary"] {
        @include social-menu;
        padding-right: 2rem;
    }
}
