section#projects {
    max-width: 75%;
    @include phone {
        max-width: 90%;
    }
    margin: 0 auto;
    h1 {
        text-align: center;
        padding: 1rem;
        font-weight: 300;
        margin: 0;
        padding-bottom: 0;
    }
    h2 {
        text-align: center;
        margin: 0.3rem 0 0;
        padding: 0;
        font-weight: 300;
        font-size: 1rem;
        color: rgba($font-color, 0.6);
    }
    .projects {
        margin-top: 1.5rem;
        article {
          padding-top: 4rem;
            &:first-child {
                padding-top: 2rem;
            }
            &:not(:last-child) {
                padding-bottom: 4rem;
            }
            display: flex;
            align-items: center;
            figure img {
                width: 200px;
            }
            h3 {
                font-weight: 400;
                color: $font-color;
                margin: 0;
                margin-bottom: 0.25rem;
                padding: 0;
                & > span.since {
                  font-weight: 300;
                  font-size: 0.83rem;
                  color: rgba($font-color, 0.6);
                }
            }
            p {
                margin: 0;
                margin-bottom: 0.25rem;
                font-weight: 300;
                line-height: 1.3rem;
                color: $font-color;
            }
            a {
              font-size: 0.9rem;
              color: rgba($font-color, 0.5);
              transition: color .75ms;
              &:hover {
                color: rgba($font-color, 0.8);
              }
            }
        }
    }
}
