@import 'variables';
@import 'media';
body,
html {
    background: #E5E5E5;
    font-size: 100%;
    font: $font-color;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    color: $font-color;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.82;
    transition: opacity 38ms;
    &:hover {
        opacity: 1;
    }
}
.container {
    width: 80%;
    @include phone {
        width: 95%;
    }
    margin: 2rem auto 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #F2F2F2;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

@mixin horizontal-list($margin) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    & > li {
        display: inline-block;
        margin-left: $margin/2;
        margin-right: $margin/2;
    }
}

@mixin social-menu {
    @include horizontal-list(1.5rem);

    a {
        fill: white;
        opacity: 0.6;
        transition: opacity 75ms;
        &:hover {
            opacity: 1;
        }
        height: 1.2rem;
        width: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        &.facebook {
            svg {
                fill: white;
            }
            content: url('/images/facebook.svg');
        }
        &.twitter {
            content: url('/images/twitter.svg');
        }
        &.xing {
            content: url('/images/xing.svg');
        }
        &.github {
            content: url('/images/github.svg');
        }
        &.email {
            content: url('/images/email.svg');
        }
    }
}

@import 'nav';
@import 'header';
@import 'projects';
@import 'skills';
@import 'contact';
