body,
html {
  background: #E5E5E5;
  font-size: 100%;
  font: #191919;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

a {
  color: #191919;
  text-decoration: none;
  font-weight: 400;
  opacity: 0.82;
  transition: opacity 38ms; }
  a:hover {
    opacity: 1; }

.container {
  width: 80%;
  margin: 2rem auto 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #F2F2F2;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px; }
  @media (max-width: 767px) {
    .container {
      width: 95%; } }

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    nav {
      display: none; } }
  nav ul[role="navigation"] {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    padding-left: 2rem; }
    nav ul[role="navigation"] > li {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem; }
  nav ul[role="complementary"] {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 2rem; }
    nav ul[role="complementary"] > li {
      display: inline-block;
      margin-left: 0.75rem;
      margin-right: 0.75rem; }
    nav ul[role="complementary"] a {
      fill: white;
      opacity: 0.6;
      transition: opacity 75ms;
      height: 1.2rem;
      width: 1.2rem;
      display: inline-block;
      vertical-align: middle; }
      nav ul[role="complementary"] a:hover {
        opacity: 1; }
      nav ul[role="complementary"] a.facebook {
        content: url("/images/facebook.svg"); }
        nav ul[role="complementary"] a.facebook svg {
          fill: white; }
      nav ul[role="complementary"] a.twitter {
        content: url("/images/twitter.svg"); }
      nav ul[role="complementary"] a.xing {
        content: url("/images/xing.svg"); }
      nav ul[role="complementary"] a.github {
        content: url("/images/github.svg"); }
      nav ul[role="complementary"] a.email {
        content: url("/images/email.svg"); }

header {
  text-align: center;
  min-height: 10rem;
  margin-top: 5rem;
  color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  header h1 {
    font-weight: 300;
    font-size: 2.7rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0; }
  header h2 {
    font-weight: 300;
    font-size: 0.82rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.25rem 0 0;
    padding: 0; }
  header .hello {
    max-width: 75%;
    margin: 3rem auto;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.145), 0 4px 10px -2px rgba(0, 0, 0, 0.05); }
    @media (max-width: 767px) {
      header .hello {
        max-width: 90%; } }
    header .hello img {
      height: 6rem;
      border-radius: 100%; }
    header .hello p {
      padding-left: 2rem;
      font-weight: 300;
      line-height: 1.4rem;
      text-align: left; }
      @media (max-width: 767px) {
        header .hello p {
          padding-left: 1rem;
          line-height: 1.2rem; } }
  header ul.resume {
    max-width: 75%;
    margin: 3rem auto;
    color: #191919;
    list-style: none;
    font-weight: 300; }
    header ul.resume li {
      display: flex;
      text-align: left; }
      header ul.resume li:not(:first-child) {
        margin-top: 2rem; }
      header ul.resume li .content img {
        width: 0.8rem; }
      header ul.resume li .year {
        color: rgba(25, 25, 25, 0.8);
        letter-spacing: 1px;
        min-width: 10rem;
        font-size: 0.9rem;
        margin-right: 3rem;
        text-align: right;
        line-height: 1.1rem; }
      header ul.resume li .location {
        padding-top: 0.1rem;
        font-size: 0.9rem;
        color: rgba(25, 25, 25, 0.8);
        display: block; }

section#projects {
  max-width: 75%;
  margin: 5rem auto 0; }
  @media (max-width: 767px) {
    section#projects {
      max-width: 90%; } }
  section#projects h1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0; }
  section#projects h2 {
    text-align: center;
    margin: 0.3rem 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 1rem;
    color: rgba(25, 25, 25, 0.6); }
  section#projects .projects {
    margin-top: 1.5rem; }
    section#projects .projects article {
      display: flex;
      align-items: center; }
      section#projects .projects article:first-child {
        padding-top: 2rem; }
      section#projects .projects article:not(:last-child) {
        padding-bottom: 4rem; }
      section#projects .projects article figure img {
        width: 200px; }
      section#projects .projects article h3 {
        font-weight: 400;
        color: #191919;
        margin: 0 0 0.25rem;
        padding: 0; }
        section#projects .projects article h3 > span.since {
          font-weight: 300;
          font-size: 0.83rem;
          color: rgba(25, 25, 25, 0.6); }
      section#projects .projects article p {
        margin: 0 0 0.25rem;
        font-weight: 300;
        line-height: 1.3rem;
        color: #191919; }
      section#projects .projects article a {
        font-size: 0.9rem;
        color: rgba(25, 25, 25, 0.5);
        transition: color 0.75ms; }
        section#projects .projects article a:hover {
          color: #191919; }

section#skills {
  max-width: 75%;
  margin: 5rem auto 0; }
  @media (max-width: 767px) {
    section#skills {
      max-width: 90%; } }
  section#skills h1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0; }
  section#skills h2 {
    text-align: center;
    margin: 0.3rem 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    color: rgba(25, 25, 25, 0.6); }
  section#skills .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem; }
    section#skills .skills-list__skill {
      font-weight: 300;
      color: #191919;
      font-size: 0.9rem;
      white-space: nowrap;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.008), 0 2px 4px -1px rgba(0, 0, 0, 0.0075);
      margin: 0.5rem;
      flex: 0;
      padding: .5rem 1rem; }

section#contact {
  max-width: 75%;
  margin: 5rem auto 0; }
  @media (max-width: 767px) {
    section#contact {
      max-width: 90%; } }
  section#contact h1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0; }
  section#contact h2 {
    text-align: center;
    margin: 0.3rem 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    color: rgba(25, 25, 25, 0.6); }
  section#contact ul[role="complementary"] {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center; }
    section#contact ul[role="complementary"] > li {
      display: inline-block;
      margin-left: 0.75rem;
      margin-right: 0.75rem; }
    section#contact ul[role="complementary"] a {
      fill: white;
      opacity: 0.6;
      transition: opacity 75ms;
      height: 1.2rem;
      width: 1.2rem;
      display: inline-block;
      vertical-align: middle; }
      section#contact ul[role="complementary"] a:hover {
        opacity: 1; }
      section#contact ul[role="complementary"] a.facebook {
        content: url("/images/facebook.svg"); }
        section#contact ul[role="complementary"] a.facebook svg {
          fill: white; }
      section#contact ul[role="complementary"] a.twitter {
        content: url("/images/twitter.svg"); }
      section#contact ul[role="complementary"] a.xing {
        content: url("/images/xing.svg"); }
      section#contact ul[role="complementary"] a.github {
        content: url("/images/github.svg"); }
      section#contact ul[role="complementary"] a.email {
        content: url("/images/email.svg"); }
